body {
	font-family: 'Black Han Sans', sans-serif;
	background-color: #FBEAFF;
	box-sizing: border-box;
	color: #000000;
}
.navbar {
	position: relative;
 	display : flex;
}
.navbar-light .navbar-brand {
	line-height: 1.68;
	text-align: left;
	color: #000000;
	font-size: 25px;
	font-style: border;
}

.navbar-light {
	border-color: #ffffff;
}
.navbar-toggler{
	float: right !important;
}
.bar-container {
	height: 2.7rem;
}
.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.section {
	margin-top: 50px;
}

.title {
	line-height: 1.67;
	text-align: center;
	color: #000000;
}

.int {
	line-height: 1.2;
	text-align: center;
	color: #2C3639;
}

.notice {
	line-height: 0.5;
	text-align: center;
	color: #808080;
}

.ad-banner {
	max-width: 320px;
	margin: 0 auto;
}